@charset "uft-8";

body{
  height: 100%;
}

#header{
  width: 100%;
  height: 17%;
  background-color: #3399ff;
  padding: 3%;
}

#header div{
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  height: 100%;
}

.route{
  font-weight: 600;
  border-bottom: #000000 solid 1px;
  padding: 1%;
}

ul li{
  float: left;
  width: 21%;
  height: auto;
  margin: 5% 2%;
}

ul li img{
  width:100%;
  height: auto;
  border: #000000 solid 1px;
}

ul li span{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.link{
  clear: both;
  float: right;
  padding: 1%;
}

a{
  color: #000099;
  border-bottom: #000099 solid 1px;
}

#footer{
  clear: both;
  width: 100%;
  height: 10%;
  background-color: #3399ff
}

.copyright{
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
    min-height: 1px;
}

* html .clearfix {
    height: 1px;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
}